@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* TODO
font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif;

Farben: #9e9e9e, #fff, #000, #333, #666 
Herz am Ende der Website ist animiert
*/

/* ---GLOBAL */
* {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    width: 1440px;
}
h1 {
    margin: 0 auto;
    display: block;
    width: 720px;
    font-size: 100px;
    text-transform: uppercase;
    padding: 50px;
}
img {
    height: 1080px;
}

h2 {
}

h3 {
}

p {

}

a {
}

/* --HEADER */
header {
    text-align: center;
    height: 1450px;
}
header h2 {
    font-size: 20px;
}
header img {
}
header p {
    margin-top: 100px;
    font-size: 160px;
    font-family: 'Work Sans', sans-serif;
}
main{
    margin-top: 500px;
}
/* -- BG-Img's -- */

main section:first-child{
    background-image: url('../img/portfolio2.jpg');
}

main section:nth-child(2){
    background-image: url('../img/portfolio3.png');
}

main section:nth-child(3){
    background-image: url('../img/portfolio4.jpg');
}
main section:last-child{
    background-image: url('../img/portfolio5.png');
}
main section:first-child, main section:nth-child(2), main section:nth-child(3), main section:last-child {
    height: 100vh;
}


/* ---SECTION */
section {
    width: 100vw;
    background-repeat: no-repeat;

    /* width: 100vw; */
}

.page-number {
}
article p {
}
article a {
}

/* ---FOOTER */
footer {
}
nav {
}
nav a {
}

/*
 footer herz-animation {} 
 */
